<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Krishna Priyatham Potluri</title>
    <link rel="icon"  href="../static/images/190050110.jpg">
    <link rel="stylesheet" href="../static/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script async="async" data-cfasync="false" src="//skidgleambrand.com/0f8d65c775d1f098fb3151e2ebdbadac/invoke.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1350801982957185"
     crossorigin="anonymous"></script>
  </head>
  <body>
  <div id="container-0f8d65c775d1f098fb3151e2ebdbadac"></div>
    <section>
      <nav>
        <a href="/home" class="logo">Krishna Priyatham Potluri</a>
        <ul>
          <li><a href="/home" >Home</a></li>
          <li><a href="/about" >About</a></li>
{#          <li><a href="/skills" >Skills</a></li>#}
          <li><a href="/resume" >Resume</a></li>
          <li><a href="/achievements" >Achievements</a></li>
            <li><a href="/contact" >Contact</a></li>
          <li><a href="/projects" >Projects</a></li>
{#            <li><a href="/blog" >Blog</a></li>#}
        </ul>
        </nav>

        <div class = "text-container">
          <div>Hello</div>
          <div>I'm Krishna Priyatham Potluri</div>
          <div>An aspiring Data Scientist and Quantum Computing Enthusiast</div>
          </div>
        </section>

          <div class="about-container" id ="about">
<!--img-->
           <img src="../static/images/190050110.jpg" alt="mypic"/>
<!--about-me-text-->
              <div class="about-text">
              <p>About Me</p>
              <p>Hello, I am Krishna Priyatham Potluri</p>
                  <p>I am a CSE undergraduate having an interest in diverse fields</p>
                  <p>like Data Science, AI, Cloud Computing, Quantum Science etc.</p>
                  <p>and in some engineering applications like drone building,</p>
                  <p>Robot making, IoT, 3D printing, etc. and many more.</p>
                  <p>I have learnt C, Java, Python. I am well proficient in English,</p>
                  <p>and I believe and am confident of myself.</p>
                  <p>#OpenForInternships.</p>
              </div> <br>
              <a class="view-me" href="/about">More About Me</a>
              </div>

{#              <div class="services ">#}
{#  <!--text-->#}
{#  <div class="services-text ">#}
{#<p>Latest Blog Posts</p>#}
{#    </div>#}
{#  <div class="box-container">#}
{#  <!--1------------->#}
{#    <div class="box-1">#}
{#    <span><a style ="text-decoration:none" target="_blank" href="https://www.linkedin.com/pulse/python-r-what-should-you-choose-krishna-priyatham-potluri-">"     "</a></span>#}
{#    </div>#}
{#   <!--2------------->#}
{#    <div class="box-2">#}
{#    <span><a  style ="text-decoration:none" target="_blank" href="https://www.linkedin.com/pulse/sbt-krishna-priyatham-potluri-">"     "</a></span>#}
{#    </div>#}
{#  <!--3------------->#}
{#    <div class="box-3">#}
{#    <span><a  style ="text-decoration:none" target="_blank" href="https://www.linkedin.com/posts/krishna-priyatham-potluri_data-science-life-cycle-activity-6923168639437217792-RV1m?utm_source=linkedin_share&utm_medium=member_desktop_web">"     "</a></span>#}
{#    </div>#}
{#  </div>#}
{#                  <a class="view-me" href="/blog">View All</a>#}
{#</div>#}
<!--if you have any project in your mind contact me-->

<br><br>

    <div class="services2">
  <!--text-->
  <div class="services-text ">
<p>Latest Projects</p>
    </div>
  <div class="box-container">
  <!--1------------->
    <div class="box-1 box-21">
    <span><a style ="text-decoration:none" target="_blank" href="https://github.com/kittupriyatham/Machine-Learning-Model-Deployment">"     "</a></span>
    </div>
   <!--2------------->
    <div class="box-2 box-22">
    <span><a  style ="text-decoration:none" target="_blank" href="https://github.com/kittupriyatham/Academic-Projects/tree/main/3D-Modelling">"     "</a></span>
    </div>
  <!--3------------->
    <div class="box-3 box-23">
    <span><a  style ="text-decoration:none" target="_blank" href="https://github.com/kittupriyatham/Academic-Projects/tree/main/Array-Manipulation-C">"     "</a></span>
    </div>
  </div>
        <a class="view-me" href="/projects">View All</a>
</div>

<br><br>

<div class="contact-me" id="contact">
  <p>Do you want to hire me?</p>
    <div>
        <b><a style="color: white" href="/resume"> Resume</a></b> &emsp;&emsp;&emsp;&emsp;&emsp; <b><a style="color: white" href="/contact">Hire me</a></b>
    </div>
</div>
    <br><br>
<!--footer--------------->
<footer>
    <p>All Rights Reserved</p>
    <p class="copyright">&copy; 2022 Krishna Priyatham Potluri</p>
</footer>
<!--social-attach-bar-->
{#<div class="social">#}
{#<a href="https://github.com/kittupriyatham"><i class="fab fa-github"></i></a>#}
{#<a href="https://twitter.com/kittupriyatham"><i class="fab fa-twitter"></i></a>#}
{#<a href="https://www.instagram.com/krishna_priyatham_potluri/"><i class="fab fa-instagram"></i></a>#}
{#<a href="https://www.linkedin.com/in/krishna-priyatham-potluri/"><i class="fab fa-linkedin"></i></a>#}
{#</div>#}
  <script async="async" data-cfasync="false" src="//skidgleambrand.com/0f8d65c775d1f098fb3151e2ebdbadac/invoke.js"></script>
  <div id="container-0f8d65c775d1f098fb3151e2ebdbadac"></div>
  </body>
</html>
<!--edited-->
